.menu {
    background: #fff;
    border-top: 1px solid #ddd;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 997;
    width: 100%;
    height: 1rem;
}

.menu ul li {
    width: 25%;
    float: left;
}

.menu ul li h2 {
    padding-top: 0.13rem;
    text-align: center;
}

.menu ul li img {
    width: 0.5rem;
    height: 0.4rem;
}

.menu ul li p {
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.2rem;
    color: #333;
}

.menu ul li.on p {
    color: #fe5b49;
}